body{
    background-color: #4A90E2;
    margin: 0;
    overflow-y:hidden;

}
h1,h2{
    text-align: center;
}
form{
    background-color: white;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    padding: 30px;
}
.time{
    color: #4A90E2 ;
    width:fit-content ;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(80, 80, 153);
}

.add{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    border:none;
    border-radius: 5px;
    width: 60%;
    font-size: 20px;
    /* text-align: right; */
    transition: 1s;
    box-shadow: 2px 2px 2px 2px blue;
    padding: 10px;
}
.input:hover{
    transform: scale(1.05);
}

.addbtn{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    transition: 0.1s;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px green;
}
.addbtn:hover{
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    transform: scale(1.1);
}

.tasks{
    background-color: #4A90E2;
    height: 250px;
    padding: 10px;
    overflow: auto;
    border:5px solid #4A90E2;
}
.lidiv{
    margin: 0 auto;
    /* width: 9%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.newTask{
    background-color:white;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    /* border:1px solid black; */
    margin: 10px;
    padding: 10px;
    overflow: auto ;
}
.deleteItem , .lidiv i{
    color: rgb(240, 70, 70);
    border-radius: 14px;
    float:right;
    cursor: pointer;
    margin-top: 10px;
    font-size: 50px;
    width: 50px;
    transition: 1s;
 
}
.deleteItem:hover{
    color: red;
    transform: scale(1.1);
}




.clearAll{
border-radius: 5px;
width: 150px;
height: 30px;
margin: 50px 0;
border: none;
background-color: white;
box-shadow: 2px 2px 2px 2px rgb(202, 8, 8);
transition: 0.1s;
display:block;
}
.clearAll:hover{
    background-color: rgb(253, 40, 40);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px black;
}

@media(max-width:750px){
    .time{
        margin: 0 auto;
    }
    .input{
        margin: 10px auto;
        width: 90%;
    }
  .addbtn{
    margin: 10px auto;
    width: 100px;
  }     
  .clearAll{
      margin: 10px auto !important;
  }
}