body{
    background-color: #4A90E2;
}
h1,h2{
    text-align: center;
}
form{
    background-color: white;
    margin: auto;
    width: 80%;
    height: auto;
    padding: 10px;
}
.time{
    background-color:#4A90E2 ;
    width:fit-content ;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
}
.input{
border:none;
border: 5px solid #4A90E2;
border-radius: 5px;
    width: 80%;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    /* text-align: right; */
}
.addbtn{
    background-color: rgb(20, 165, 20);
    border-radius: 5px;
width: 100px;
height: 50px;
margin: 10px;
}
.addbtn:hover{
    background-color: rgb(0, 255, 0);
    color: white;
    cursor: pointer;
}
.tasks{
    background-color: #4A90E2;
margin: auto;
width: 90%;
height: 200px;
padding: 10px;
overflow: auto;
border:5px solid #4A90E2;
}
.lidiv,.inputAddbtn{
    display: flex;
    flex-wrap: nowrap;
}
.newTask{
    background-color:white;
    border-radius: 5px;
    width: 90%;
    height: 30px;
 /* border:1px solid black; */
margin: 10px;
padding: 10px;
overflow: auto ;
}
img{
border-radius: 14px;
float:right;
 cursor: pointer;
 height:50px ;
 width: 50px;
 margin-top: 10px;
 
}
img:hover{
border:2px solid #4A90E2}

.clearallbtn{
background-color: rgb(202, 8, 8);
border-radius: 5px;
width: 150px;
height: 30px;
margin: 10px;

}
.clearallbtn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;

}
